development:
  daemon:
    log:
      logger: file
      log_file: /tmp/some_log_file.log
      shift_age: 1
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://some.pantry.fqdn
  scheduler:
    interval: 10m
test:
  daemon:
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://some.pantry.fqdn
